<!--PRIMARY MENU-->

<header class="site-header">
    <div class="header-wrapper">
        <div class="logo">
            <a href="/" class="site-header__mark">neloverse</a>
        </div>
    </div>
    <nav class="primary">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work.html">Work</a>
                <ul>
                    <li><a href="/work/project-one.html">Project One</a></li>
                    <li><a href="/work/project-two.html">Project Two</a></li>
                    <li><a href="/work/project-three.html">Project Three</a></li>
                </ul>
            </li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
        <div class="clear"></div>
    </nav>

    <!--MOBILE MENU-->
    <div id="menu-button"><a class="menu-toggle" href="" aria-label="Open menu">&#9776;</a></div>
    <nav class="mobile">
        <div class="mobile_top">
            <a href="#" class="menu-toggle">×</a>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work.html">Work</a> <i class="click fa fa-chevron-down" aria-hidden="true"></i>
                <ul class="dpdwn-list">
                    <li><a href="/work/project-one.html">Project One</a></li>
                    <li><a href="/work/project-two.html">Project Two</a></li>
                    <li><a href="/work/project-three.html">Project Three</a></li>
                </ul>
            </li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>

        <div class="clear"></div>
        <div class="nav-footer">Neloverse | <span id="copyrightYear"></span></div>
    </nav>

    <div class="menu-toggle exit-click"></div>
</header>